// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* 取消文章列表标题链接效果 */
.pub-list-item .pub-title a {
  color: inherit !important;         /* 保持标题颜色不变 */
  text-decoration: none !important;  /* 去除下划线 */
  pointer-events: none !important;   /* 禁用点击效果 */
}